mixin footer()

      footer.footer
        .container
          .col-xs-12
            p.text-center Created by Graham Wood for FreeCodeCamp
          .col-xs-12
            .text-center
              a.btn(href='https://github.com/GrahamAW') Github
              a.btn(href='https://twitter.com/GrahamWDev') Twitter
              a.btn(href='http://www.freecodecamp.com') FreeCodeCamp
